{% from "_formhelpers.html" import render_field %}
<html>
<head>
  <title>create</title>
</head>
<body>
  <form method=post action="/create">
    <dl>
      {{ form.csrf_token }} <!--protect the site from getting request from other sites-->
      {{ render_field(form.name) }}
      {{ render_field(form.activity) }}
      {{ render_field(form.start_date) }}
      {{ render_field(form.activity_time) }}
      {{ render_field(form.buddy) }}
      <br>
      <input type=submit value=Create>
    </dl>
  </form>
  
  <br>
  <p>Cannot find your friend in the buddy list? Invite your friend!</p>
  <button id="invite">Invite</button>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>
    $("#invite").click(function(){
      let person = prompt("Type your friend's email");
      if (person.length>0){
        alert("Invitation sent, please wait for your friend to accept")
      }
      else{alert("You need to type a valid email address.")}
    })
  </script>
</body>
</html>

