{% from "_formhelpers.html" import render_field %}
<html>
<head>
  <title>Home</title>
</head>
<body>
  Welcome, {{name}}
  Today is {{time.strftime('%b %d, %Y')}}<br>


<!--
get the lastest log, get the log.date
if today != log.date
    check-in button
else is the same day
    if checked:
          disable the button
    else:
      if current_time > deadline:
          new_log= Dailylog(...checkin=False...)
      else: show checkin button
          -->
<!-- if before the deadline time  -->
{% if in_progress %}
  {% if not updated %}  <a href="{{url_for('update')}}">Update</a>
  {% else %}Update today! See you tomorrow:)
  {% endif %}

{% else %}
  <h2>Big Con! You've completed another 21-day program! Cheers with your friends!</h2>
  <a href="{{url_for('create')}}">Create New Program</a>
{% endif %}

  <br/>
  <a href="{{url_for('logout')}}">Log out</a>
<br/>



    <p>My History</p>
    {% for log in logs %}
      {{ log.date.strftime('%B %d, %Y')}}
      {{ log.checkin }}
      {{ log.reason }}
      <br>
    {% endfor %}





</body>
</html>
