{% from "_formhelpers.html" import render_field, render_checkbox_field %}
<html>
<head>
  <title>register</title>
</head>
{% assets "main_css" %}
<link rel="stylesheet" type="text/css" href="{{ASSET_URL}}" >
{% endassets %}
<body>
  <div class="marvel-device iphone8">
    <div class="top-bar"></div>
    <div class="sleep"></div>
    <div class="volume"></div>
    <div class="camera"></div>
    <div class="sensor"></div>
    <div class="speaker"></div>
    <div class="screen" style="overflow: scroll; background-color:#1c1e22">
      <div class="container" style="margin-top:20px;">
          <div class="row">
            <div class="col-lg-12">
              <div >
                <form class="form-horizontal", method="POST" action="/register">
                  {{ form.csrf_token }}
                  <fieldset>
                    <legend style="text-align:center;">Welcome to 21-day Program</legend>
                    {{ form.csrf_token}} <!--protect the site from getting request from other sites-->
                    {{ render_field(form.email, placeholder="example@gmail.com") }}
                    {{ render_field(form.password, placeholder="must be longer than 8 digits") }}
                    {{ render_field(form.confirm) }}
                    {{ render_field(form.username) }}
                    {{ render_checkbox_field(form.accept_tos) }}
                    <div class="form-group">
                      <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-success btn-block">Register</button>
                        <br/>
                        <p style="text-align:center;">Already have an account? <a href="{{ url_for('login') }}"> Log in here</a>. </p>
                      </div>
                    </div>
                  </fieldset>
                </form>
              </div>
            </div>
          </div>
        </div> <!-- /container -->
    </div>
    <div class="home"></div>
    <div class="bottom-bar"></div>
    </div>
</body>
</html>
